.feynman {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-height: 890px;
  background: url('../../images/feynman.png') #f2f2f2 no-repeat left bottom /867px 637px;
}
